/* CEЛЕКТОР ТЕГА */
.test-link {
  color: black;
}
.test-link:hover {
  color: rgb(255, 136, 0);
}
.test-link:focus {
  color: chartreuse;
}
.test-link:active {
  color: blue;
}

body {
  background-color: brown;
}
/*СЕЛЕКТОР ИДЕНТИФИКАТОРА*/
#header {
  background: wheat;
  color: black;
}
/*CЕЛЕКТОР ПОТОМКА*/
.main-nav > li {
  color: darkgreen;
}
.main-nav > li :hover {
  color: blue;
}
/*СЕЛЕКТОР РЕБЕНКА*/
.image-gate > img {
  border: solid;
  color: blue;
  width: 200px;
}
/*СЕЛЕКТОР АТРИБУТА*/
